@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(86, 167, 164, 0.605);
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-family: "Lato", sans-serif;
}
header {
  padding: 1rem;
  position: relative;
  transition: 0.2 all;
}
header h1 {
  transition: 0.2 all;
}
header h1:hover {
  transform: skewX(20deg);
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notes {
  height: 45%;
  width: 25%;
  background-color: beige;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}
.notes .tools {
  background-color: rgb(110, 132, 49);
  display: flex;
  justify-content: flex-end;
}
.notes .tools .tools-btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  transition: 0.2 all;
}
.notes .tools .tools-btn:hover {
  transform: translateY(-1px) scale(1.3);
}
.notes .main {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  overflow: hidden;
}
.notes textarea {
  outline: none;
  height: 92%;
  width: 100%;
  font-size: 1.2rem;
  font-family: inherit;
}
.hidden {
  display: none;
}
.addNote {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  transition: 0.2s all;
}
.addNote:hover {
  color: orangered;
  transform: rotate(5deg);
}
